In [24]:
class Solution:
    def titleToNumber(self, columnTitle: str) -> int:
        # construct char to num dictionary
        char2num = {}
        nums = range(1,27)
        import string
        chars = string.ascii_uppercase
        for num, char in zip(nums, chars):
            char2num[char] = num
        # construct out
        out = 0
        lst = list(columnTitle)[::-1]
        for idx, char in enumerate(lst):
            out += char2num[char]* 26 ** idx
        return out

In [25]:
columnNumber = "A"
Solution().titleToNumber(columnNumber) # 1

1

In [26]:
columnNumber = "AB"
Solution().titleToNumber(columnNumber) # 28

28

In [27]:
columnNumber = "ZY"
Solution().titleToNumber(columnNumber) # 701

701

In [28]:
columnNumber = "FXSHRXW"
Solution().titleToNumber(columnNumber) # 2147483647

2147483647

# Reference

[171. Excel Sheet Column Number](https://leetcode.com/problems/excel-sheet-column-number/)